@import url('https://fonts.googleapis.com/css2? family= Noto+Sans:wght@400;700 & family= Oxanium:wght@300;400;700 & display=swap');

body {
    margin: 0;
    font-family: 'Noto', sans-serif;
}

body {
     box-sizing: border-box;
}

.main-login {
    width: 100vw; /*Viwer width - tamanho da tela  vertical*/
    height: 100vh;/*Viwer reight - tamanho da tela horizontal*/
    background-color: #001b2c;
    display: flex;
    justify-content: center; /*centro de tela*/
    align-items: center; /*alinhamento de texto*/ 
}

.left-side {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-side > h1{ /* > serve para acessar elemento */
    font-size: 3vw;
    color: #77ffc0;
}

.left-side > image{
    width: 35vw;
}

.right-side {
    width: 50vw;
    height: 100vh;
    display:  flex;
    justify-content: center;
    align-items: center
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;/*faz um ficar embaixo do outro */
    box-shadow: 0px 10px 40px #00000056;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px
}

.card-login > h1 {
    color: #00ff88;
    font-weight: 700;
    margin: 0;

}

.text-field {
    width: 100%;
    display: flex; /* para poder acessa a direção */
    flex-direction: column;
    justify-content:  center;
    align-items: flex-start; /*comecar do zero px */
    margin: 10px 0px;

}

.text-field > label {
    color: white;
    margin-bottom: 10px; /*margem da label (botão)*/
}

.text-field > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box; /*definição de caixa */
}

.text-field > input::placeholder {
    color: #ffffff94;

}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    outline: none;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 900px;
    letter-spacing: 3px;
    background-color: #00ff88;
    color: #ffffff;
    box-shadow: 0px 10px 40px -12px #00ff8052; /*sombra*/

}

@media only screen and (max-width: 950px){
    .card-login {
       width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login {
       flex-direction: column; 
    }
    .left-side > h1 {
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    
    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 50vw;
    }
    
    .card-login{
    width: 90%;
    }
}